@import url(global.css);

.footer{
    top: 20px;
    background-color: var(--cor-componentes);
    height: auto;
    box-shadow: 0 7px 15px 5px var(--cor-detalhes);
}

.conteudo-footer{
    display: flex;
    padding: 1%;
    box-sizing: border-box;
    justify-content: space-between;
}

.logo-footer{
    width: 300px;
}

.div-ancoras-footer{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-bottom: 10px;
}

.copyright{
    background-color: var(--cor-copyright);
    padding: 1%;
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.copyright h3{
    margin: auto;
    color: rgb(223, 223, 223);
}

.conteudo-section-footer h4{
    color: rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    margin: 13px 0 2px;
}

.conteudo-section-footer h3{
    color: rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    text-decoration: underline;
}

.conteudo-section-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section-footer{
    display: flex;
    position: relative;
}

.linha-footer{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100;
    width: 1px;
    border-radius: 25%;
}

.ul-centralizadas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-section-footer ul>li{
    margin: 10px 0 -3px;
}

.conteudo-section-footer ul>li>a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: all 0.2s;
}

.conteudo-section-footer ul>li>a:hover{
    color: black;
}

.conteudo-section-footer ul>li>a>i>span{
    margin-left: 5px;
}

@media screen and (max-width: 975px) {
    .conteudo-footer{
        flex-direction: column-reverse;
    }
    .div-ancoras-footer{
        width: 100%;
    }

    .logo-footer{
        margin: auto;
    }

    .div-logo-footer{
        display: flex;
        width: 100%;
    }
}


@media screen and (max-width: 665px) {
    .div-ancoras-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100vw;
    }

    .section-footer {
        width: calc(50vw - 40px);;
        margin: 20px 10px 10px;
        display: flex;
    }

    .conteudo-section-footer{
        margin: 0 auto;
    }

    .linha-footer {
        display: none;
    }
}

@media screen and (max-width: 465px){
    .section-footer {
        width: calc(100vw - 20px);;
        margin: 20px 10px 10px;
        display: flex;
    }
}