@import url(global.css);

.header{
    background-color: var(--cor-componentes);
    display: flex;
    box-sizing: border-box;
    position: absolute;
    width: 100vw;
    padding: 1%;
    box-shadow: inset 0px -5px 4px -1px  #53ff538f;
}

.logo-header{
    width: 80px;
}

.nav-header{
    margin-left: calc(50% - 100px - 25vw);
    align-items: center;
    display: flex;
    position: relative;
}

.ul-nav-header{
    display: flex;
    width: 50vw;
    justify-content: space-around;
}

.li-nav-header a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
}

.li-nav-header a::after{
    content: '';
    position: absolute;
    background-color: var(--cor-detalhes);
    left: -5px;
    width: 0;
    display: block;
    height: 5px;
    border-radius: 20px;
    transition: all 0.2s;
}

.li-nav-header a:hover{
    color: black;
}

.li-nav-header a:hover::after{
    width: calc(100% + 10px);
}

#ancora-escolhida a{
    color: black;
}


#ancora-escolhida a::after{
    width: calc(100% + 10px);
}

.campo-menu-mobile {
    display: none;
    width: 100vw;
    overflow-x: hidden; /* Oculta a barra de rolagem horizontal */
}

#nav-mobile {
    flex-direction: column;
    background-color: var(--cor-componentes);
    position: absolute;
    width: auto;
    padding: 1%;
    border-radius: 10px;
    margin-top: 90px;
    left: -300px; /* Move o menu para fora da tela */
    transition: left 0.5s ease;
}

.ul-nav-header-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.li-nav-header-mobile{
    margin: 10px 0;
}

.li-nav-header-mobile a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
}

#lottie-animation-menu{
    display: none;
}

@media screen and (max-width: 725px) {
    #nav-desktop{
        display: none;
    }

    #lottie-animation-menu, .campo-menu-mobile{
        display: flex;
    }

    .header{
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}