.section-envolvidos-main h2{
    color: var(--color-emphasis-half);
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}

.section-envolvidos-main h3{
    color: var(--color-emphasis-half);
    font-weight: bolder;
    text-align: center;
    font-size: 16px;
}

.section-envolvidos-main h4{
    color: var(--color-emphasis-half);
    font-weight: bolder;
}

.botao-insta-envolvidos{
    background-color: transparent;
    border: none;
    padding: 5px 0 0;
}

.botao-insta-envolvidos a{
    color: var(--color-icon-half);
    font-size: 14px;
    text-decoration: none;
    transition: all 0.2s;
}

.botao-insta-envolvidos a:hover{
    color: var(--color-text-primary);
}

.botao-insta-envolvidos span{
    padding-left: 5px;
}

.div-nome-envolvidos{
    height: 50%;
    
    background-color: var(--color-icon-half);
    width: 2.5px;
    position: absolute;
    left: 120px;
}

.envolvidos{
    position: relative;
    margin-top: 15px;
    padding-top: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.envolvidos::after{
    content: "";
    width: 100%;
    height: 2.5px;
    background-color: var(--color-icon-half);
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
}

.envolvido{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.section-envolvidos-nomes{
    margin: 55px auto;
    color: var(--color-emphasis-half);
}